<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of facade.users$ | async">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>
        <button type="button" (click)="form.patchValue(user)">Alterar</button>
        <button type="button" (click)="facade.removeUser(user)">Remover</button>
      </td>
    </tr>
  </tbody>
</table>

<aside class="sidenav">
  <section workspace-container>
    <nav workspace-list>
      <a routerLink="/" workspace-nav-list-item>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z" />
        </svg>
        Início
      </a>
      <a routerLink="/" workspace-nav-list-item>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 0 24 24"
          width="24px"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          />
        </svg>
        Buscar
      </a>
    </nav>

    <ul workspace-chip-list>
      <li workspace-chip-list-item>Playlists</li>
    </ul>
  </section>

  <section workspace-container>
    <ui-library-list>
      <ui-library-list-item>
        <img slot="cover" src="/assets/library-cover-jazz.jpg" alt="" />
        <h2 slot="title">Jazz / Soul / Blues / Funk</h2>
        <p slot="description">Playlist - Gui Seek</p>

        <time slot="created">12 de set. de 2016</time>
        <span slot="last-play"> há 1 semana </span>
      </ui-library-list-item>
    </ui-library-list>
  </section>
</aside>

<button (click)="facade.loadUsers()">Load users</button>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ui-text-field>
    <label slot="label"> ID </label>
    <input slot="input" type="number" formControlName="id" name="id" readonly />
  </ui-text-field>
  <ui-text-field>
    <label slot="label">Nome</label>
    <input slot="input" type="text" name="name" formControlName="name" />
  </ui-text-field>

  <output> {{ facade.error$ | async }} </output>

  <button>Enviar</button>
</form>

<router-outlet></router-outlet>
