<main>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userFacade.data$ | async">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
          <button type="button" (click)="form.patchValue(user)">Alterar</button>
          <button type="button" (click)="userFacade.remove(user)">
            Remover
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
</main>

<aside class="sidenav">
  <section ui-container>
    <nav ui-list>
      <a routerLink="/" ui-nav-list-item>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="28"
          viewBox="0 96 960 960"
          width="28"
        >
          <path
            d="M220 876h150V626h220v250h150V486L480 291 220 486v390Zm-60 60V456l320-240 320 240v480H530V686H430v250H160Zm320-353Z"
          />
        </svg>
        Início
      </a>
      <a routerLink="/" ui-nav-list-item>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="28"
          viewBox="0 96 960 960"
          width="28"
        >
          <path
            d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"
          />
        </svg>
        Buscar
      </a>
    </nav>
  </section>

  <section ui-container>
    <ul ui-chip-list>
      <li ui-chip-list-item>Playlists</li>
      <li ui-chip-list-item>Podcasts e programas</li>
      <li ui-chip-list-item>Álbuns</li>
      <li ui-chip-list-item>Artistas</li>
    </ul>
    <ui-library-list>
      <ui-library-list-item
        *ngFor="let item of libraryFacade.data$ | async"
        [ngClass]="{active: item.playing}"
      >
        <img slot="cover" [attr.src]="item.cover" [attr.alt]="item.title" />
        <h2 slot="title">{{ item.title }}</h2>
        <p slot="description">{{ item.kind }} - {{ item.owner }}</p>

        <time slot="created">{{ item.created | date : 'mediumDate' }}</time>
        <span slot="last-play">{{ item.lastPlay | date : 'shortTime' }}</span>
      </ui-library-list-item>
    </ui-library-list>
  </section>
</aside>

<!--
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ui-text-field>
    <label slot="label"> ID </label>
    <input slot="input" type="number" formControlName="id" name="id" readonly />
  </ui-text-field>
  <ui-text-field>
    <label slot="label">Nome</label>
    <input slot="input" type="text" name="name" formControlName="name" />
  </ui-text-field>

  <output> {{ userFacade.error$ | async }} </output>

  <button>Enviar</button>
</form> -->
